ul {

    list-style-type: none;
    
    }

    #aboutus {
        background-color: salmon;
    }

.box {
    width: 100px;
    height: 100px;
    display: inline-block;

}
    #box1 {
        border: 2px solid red;
     
       
    }
    #box2 {
        border: 2px solid blue;
    
    }

    #box3 {
        border: 2px solid green;
  
    }
    #box4 {
        border: 2px solid yellow;
  
    }

    .xbox {
        width: 100px;
        height: 100px;
    
    }
    #box5 {
        border: 2px solid orange;
  
    }
    #box6 {
        border: 2px solid violet;
  
    }
    #box7 {
        border: 2px solid navy;
  
    }